:root {
    --color-1 : yellow;
    --color-2 : red;
    --color-3 : rgb(15, 107, 182);
    --color-4 : rgb(37, 34, 34);
}

html , body {
    margin: 0;
    padding: 0;
}

.rings , .circle {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(252, 252, 250);
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.circle {
    max-width: 400px;
    height: 400px;
    border-radius: 50%;
}

.circle1 {
    background: var(--color-4);
    width: 200px;
    height: 200px;
}

.circle2 {
    background: var(--color-3);
    width: 150px;
    height: 150px;
}

.circle3 {
    background: var(--color-2);
    width: 100px;
    height: 100px;
}

.circle4 {
    background: var(--color-1);
    width: 50px;
    height: 50px;
}